<html>
    <head>
        <title>Hello {{ title }}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    <body>
        <h1>Hello Worlds from hbs</h1>
    </body>
</html>